*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url("https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: pink;
}

section {
    margin: 1em;
}
